<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net461" />
  <package id="HtmlRenderer.Core" version="1.5.1-beta1" targetFramework="net461" />
  <package id="HtmlRenderer.WPF" version="1.5.1-beta1" targetFramework="net461" />
  <package id="Humanizer.Core" version="2.1.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net461" />
  <package id="reactiveui" version="7.2.0" targetFramework="net461" />
  <package id="reactiveui-core" version="7.2.0" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net461" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="Svg" version="2.3.0" targetFramework="net461" />
  <package id="WpfControls.AutoCompleteTextBox" version="1.0.0.7" targetFramework="net461" />
</packages>