<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" requireReinstallation="true" />
  <package id="HtmlRenderer.Core" version="1.5.1-beta1" targetFramework="net461" />
  <package id="HtmlRenderer.WPF" version="1.5.1-beta1" targetFramework="net461" />
  <package id="Humanizer.Core" version="2.1.0" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="14.0.25424" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Imaging" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="12.0.21003" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="14.1.111" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Utilities" version="14.3.25407" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="14.1.111" targetFramework="net461" />
  <package id="reactiveui" version="7.2.0" targetFramework="net461" />
  <package id="reactiveui-core" version="7.2.0" targetFramework="net461" />
  <package id="RestSharp" version="106.2.1" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net461" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="Svg" version="2.3.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WpfControls.AutoCompleteTextBox" version="1.0.0.7" targetFramework="net461" />
</packages>