<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="reactiveui" version="6.5.0" targetFramework="net461" />
  <package id="reactiveui-core" version="6.5.0" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Xaml" version="2.2.5" targetFramework="net461" />
  <package id="splat" version="1.6.2" targetFramework="net461" />
</packages>