<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.2" targetFramework="net461" />
  <package id="AutoFixture.AutoRhinoMocks" version="3.50.2" targetFramework="net461" />
  <package id="AutoMapper" version="6.0.2" targetFramework="net461" />
  <package id="LibGit2Sharp" version="0.23.1" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.164" targetFramework="net461" />
  <package id="NUnit" version="3.6.1" targetFramework="net461" />
  <package id="reactiveui" version="7.2.0" targetFramework="net461" />
  <package id="reactiveui-core" version="7.2.0" targetFramework="net461" />
  <package id="reactiveui-testing" version="7.2.0" targetFramework="net461" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Testing" version="2.2.5" targetFramework="net461" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net461" />
</packages>